@font-face {
    font-family: 'Montserrat-Regular';
    src: url('@/assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

:root {
    --primary-color: #311B92;
    --secondary-color: #84FFFF;
    --white-color: #FFF;
}

* {
    font-family: Montserrat-Regular;
}

*::-webkit-scrollbar {
    width: 5px;
}
  
*::-webkit-scrollbar-track {
    background: var(--secondary-color);
}
  
*::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 5px;
}

.bg-primary-color {
    background-color: var(--primary-color);
}

.bg-secondary-color {
    background-color: var(--secondary-color);
}

.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}